$primary-font: 'IRANSansMobile';
$secondary-font: 'IRANSansMobile_Light';
@font-face {
  font-family: 'IRANSansMobile';
  src: url('../../assets/fonts/IRANSansMobile.ttf') format('truetype');
}

@font-face {
  font-family: 'IRANSansMobile_Light';
  src: url('../../assets/fonts/IRANSansMobile_Light.ttf') format('truetype');
}
